<!doctype html>
<html lang="en">
  {% include "components/head.njk" %}
  <body>
    <header>
      {#- Read more about `eleventy-navigation` at https://github.com/11ty/eleventy-navigation #}
      {{ collections.all | eleventyNavigation | eleventyNavigationToHtml({
        listClass: "nav",
        listItemClass: "nav-item",
        activeListItemClass: "nav-item-active",
        activeKey: eleventyNavigation.key
      }) | safe }}
      <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    </header>
<main id="main">
    {{ content | safe }}
</main>

<script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
  </body>
</html>
